.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0!important;
    transition: padding 0.3s ease-out;
    z-index: 1;
 
}

.header input{
    padding: 0.4rem;
}
.brand{
    width: 100%;
    margin-bottom: 0.15em;
    font-size: 2rem;
    transition: font-size 0.3s ease-out;
}
.brand a{
    text-decoration: none;
    color: #FFF;
    
    font-weight: 900;
   
}