@import url('./header.css');
:root{
    --water:#5CC8F2;
    --grass:#C1D98F;
    --fire:#D94A4A;
    --electric:#F2CD5C;
    --ground:#BF9663;
    --psychic:#D9628D;
    --normal:#e9dea9;
    --bug:#34EB6E;
    --poison:#D4ADD9;
    --fairy:#F299B9;
    --fighting:#D15D61;
    --rock:#534E2C;
    --ghost:#573858;
    --ice:#05DBF2;
    --dragon:#05AFF2;
}
.nav{
    width: 100%;
}

.poke-nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.pokedex-list{
    display: grid;
    grid-template-columns: 1fr;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.card{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 0.5rem;
    background-color: var(--grass);
    border-radius: 16px;
    margin: 0.2rem;
}
.card #number{
    width: 100%;
    text-align: -webkit-right;
    padding: 0.5rem;
    padding-bottom: 0;
    color: rgb(255,255,255,0.2);
    font-weight: 900;
}
.card #name{
    width: 100%;
    font-size: 1.15rem;
    font-weight: 600;
    color: #FFF;
    margin-left: 1rem;
}
.card-body{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.card-body ol, .card-about ol{
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    list-style: none;
    
}
.card-body ol li, .card-about ol li{
    width: 55px;
    background-color: rgb(255,255,255,0.2);
    color: #FFFF;
    border-radius: 24px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 4px;
    margin-bottom: 8px;
}
.poke-image{
    background-image: url(../img/Pokeball.png);
      background-size: cover;
      background-position-x: center;
}

/* Content pokemon-about */

.pokemon-about{
    display: block;
    width: 100%;
    min-height: auto;
    background-color: var(--grass);
    padding: 0;
    margin: 0;
    border-radius: 0;
}
.card-about{
    margin: 0;
    padding: 1rem;
    position: relative;
    background-color: transparent;
    justify-content: space-around;
}
.name-type ol{
    padding-top: 0.75rem;
}
.name-type ol li{
    font-size: 1rem;
    padding: 0.175rem;
    margin: 0.175rem;
}
.card-about span{
    width: 50%;
    text-align: -webkit-right;
    padding: 0.5rem;
    padding-bottom: 0;
    color: #ffffff;
    font-weight: 900;
    font-size: 1.20rem;
}
.card-about h1{
    padding: 0;
    margin: 0;
    color:#FFFFFF
  
}
.poke-img{
    text-align: center;
    position: absolute;
    top: 4rem;
    
}
.pokemon-info{
    width: 100%;
    background-color: #FFFFFF;
    height: 400px;
    border-radius: 2rem 2rem 0 0;
    margin-top: 8rem;
    min-height: 28rem;
    height: auto;
}

.pokemon-content{
    background-color: #f8f8f8;
}
/* Poke navbar */
#poke-header .poke-navbar{
    padding-top: 1rem;
}
#poke-header .poke-navbar{
    list-style: none;
    margin: 0;
    display: flex;
    padding: 0;
    justify-content: center;
    
}
#poke-header  .poke-navbar li{
    padding: 1rem;
    padding-top: 3rem;
    font-weight: 100;
    transition: font-weight .2s;
    cursor: pointer;
}
#poke-header  .poke-navbar li.active{
    border-bottom: 1px solid #370cbf;
    font-weight: 800;

}
#info-content ul{
    margin: 0;
    padding: 0;
}
#info-content ul li.active{
    display: block;
}
#info-content ul li {
    display: none;
}
.details-a{
    color: #a2a2a2e3;
    font-weight: 500;
}
.details-b{
    font-weight: 800;
}
#info-content .details-a li, .details-b li{
    display: block!important;
}
#poke-info  ol li{
    padding: 1rem;
    padding-left: 0;

}
#poke-info{
    padding-top: 2rem;
    justify-content: space-around;
}
#poke-info ol{
    margin: 0;
    padding: 0;
    
}

#search-result{
    display: none;
    
}
.font-a{
    border: none;
    background: none;
    padding: 1rem;
    position: relative;
    top: 2rem;
    margin-bottom: 2rem;
    color: #FFFFFF;
    font-size: 1.55em;
    transition: color .2s;
}
.font-a :hover{
    color: #a2a2a2e3;
}
    
.barra {
    background-color: blue;
    width: 10px;
}


/* Break points */

@media screen and (min-width: 576px ){
    .poke-nav .brand{
        width: 50%!important;
        font-size: 2rem!important;
    }
    .poke-nav{
        justify-content: space-around;
    }

}

/* medium */
@media screen and (min-width: 768px ){
        
       
    
  
}
/* large */
@media screen and (min-width: 992px ){
    .pokemon-about{
        width: 768px;
        margin: 0 auto;
    }
    .nav{
            width: 980px;
            margin: 0 auto;
        }
       
 
}
/* extra large */
@media screen and (min-width: 1200px ){
    .pokemon-about{
        width: 980px;
        margin: 0 auto;
    }
}
